#background-wrap {
  bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -4;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 100px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 100px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 100px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

/* ANIMATIONS */

:root {
  --animation-speed: 25s;
  --animation-side: 2s;
  --animation-left:5%;
  --animation-top:80%;
  --animation-size:0.6;
}


.x1 {
  -webkit-animation: animateBubble var(--animation-speed) linear infinite, sideWays var(--animation-side) ease-in-out infinite alternate;
	-moz-animation: animateBubble var(--animation-speed) linear infinite, sideWays var(--animation-side) ease-in-out infinite alternate;
	animation: animateBubble var(--animation-speed) linear infinite, sideWays var(--animation-side) ease-in-out infinite alternate;

	left: var(--animation-left);
	top: var(--animation-top);

	-webkit-transform: scale(var(--animation-size));
	-moz-transform: scale(var(--animation-size));
	transform: scale(var(--animation-size));
}
.x2 {
  -webkit-animation: animateBubble var(--animation-speed) linear infinite, sideWays var(--animation-side) ease-in-out infinite alternate;
	-moz-animation: animateBubble var(--animation-speed) linear infinite, sideWays var(--animation-side) ease-in-out infinite alternate;
	animation: animateBubble var(--animation-speed) linear infinite, sideWays var(--animation-side) ease-in-out infinite alternate;

	left: var(--animation-left);
	top: var(--animation-top);

	-webkit-transform: scale(var(--animation-size));
	-moz-transform: scale(var(--animation-size));
	transform: scale(var(--animation-size));
}
.x3 {
  -webkit-animation: animateBubble var(--animation-speed) linear infinite, sideWays var(--animation-side) ease-in-out infinite alternate;
	-moz-animation: animateBubble var(--animation-speed) linear infinite, sideWays var(--animation-side) ease-in-out infinite alternate;
	animation: animateBubble var(--animation-speed) linear infinite, sideWays var(--animation-side) ease-in-out infinite alternate;

	left: var(--animation-left);
	top: var(--animation-top);

	-webkit-transform: scale(var(--animation-size));
	-moz-transform: scale(var(--animation-size));
	transform: scale(var(--animation-size));
}
.x4 {
  -webkit-animation: animateBubble var(--animation-speed) linear infinite, sideWays var(--animation-side) ease-in-out infinite alternate;
	-moz-animation: animateBubble var(--animation-speed) linear infinite, sideWays var(--animation-side) ease-in-out infinite alternate;
	animation: animateBubble var(--animation-speed) linear infinite, sideWays var(--animation-side) ease-in-out infinite alternate;

	left: var(--animation-left);
	top: var(--animation-top);

	-webkit-transform: scale(var(--animation-size));
	-moz-transform: scale(var(--animation-size));
	transform: scale(var(--animation-size));
}


/* OBJECTS */

.bubble {
  -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

  height: 200px;
	position: absolute;
	width: 200px;
  background-image: linear-gradient(180deg, #ff0099, #6303B1);

}

.bubble:after {

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	content: "";
  height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}
