html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.titlepizza {
  font-size: 50px;
  text-transform: uppercase;
  padding: 12px, 0;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-t-md {
  margin-top: 30px;
}

.m-t-sm {
  margin-top: 15px;
}

.p-t-lg {
  padding-top: 45px;
}

.p-t-md {
  padding-top: 30px;
}

.p-t-sm {
  padding-top: 15px;
}

.p-b-md {
  padding-bottom: 30px;
}

.p-b-sm {
  padding-bottom: 15px;
}

.m-b-md {
  margin-bottom: 30px;
}

.m-b-sm {
  margin-bottom: 15px;
}

.m-b-img {
  margin-bottom: 5px;
}

.m-t-footer {
  margin-top: 120px;
}

.p-a-20 {
  padding: 20px;
}

.p-a-0 {
  padding: 0px;
}

.p-a-5 {
  padding: 5px;
}

.m-a-0 {
  margin: 0px;
}

.m-a-5 {
  margin: 5px;
}

.contactDiv {
  margin: auto;
  background: #636b6f;
  width: 80%;
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px;
}

.sectionBackgroundWhite {
  background-color: #fff;
}

.sectionBackgroundGrad {
  background-image: linear-gradient(360deg, #6303B1, #ff0099);
}


.jumbotron {
  /*background: #999;*/
  max-width: 100%;
  color: white;
  padding-bottom: 80px;
  border-radius: 0px;
}
}

.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
  background: #7646c1;
}

.jumbotron p {
  color: white;
  max-width: 75%;
  margin: 1em auto 2em;
}

.jumbotron h1 {
  font-size: 40px;
}

.navbar + .jumbotron {
  margin-top: -20px;
}

.jumbotron .lang-logo {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: auto;
  border: 2px solid white;
}

.jumbotron .lang-logo img {
  max-width: 100%;
}

.LifeImg {
  width: 90%;
  height: 90%;
  border: 3px solid white;
}


.img-long {
  max-width: 365px;
}

.aboutTitle {
  color: white;
}

.geoTitle {
  color: black;
}

/* Style all font awesome icons */

.fa1 {
  padding: 15px;
  font-size: 45px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */

.fa:hover {
  opacity: 0.2;
  color: #333;
}

/* Set a specific color for each brand */

/* Facebook */

.fa-facebook {
  background: #3B5998;
  color: white;
}

/* LinkedIn */

.fa-linkedin {
  background: #3f729b;
  color: white;
}

/* Instagram */

.fa-instagram {
  color: white;
}

.instagram {
  width: 75px;
  height: 75px;
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f09433", endColorstr="#bc1888",GradientType=1 );
}

/*Github*/
.fa-github {
  color: white;
}

.github {
  width: 75px;
  height: 75px;
  background: black;
}

.sectionBackgroundGray {
  background-color: #999;
}

.table-background {
  padding: 50px;
  background: #fff;
  border-radius: 10px;
}

.card-background {
  padding: 40px;
  background: #fff;
  border-radius: 10px;
}

.weather-background {
  background-color: #007bff;
}

.weather-boarder {
  border: 3px solid white;
}

.weather-card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #3b8138;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}


.login-header{
  background-color:#333;
  color:white;
  font-size:20px;
}

.dashboard-header{
  background-color:#999;
  color:white;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.card-body {
  color: black;
}

/* On mouse-over, add a deeper shadow */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

/* Add some padding inside the card container */

.container {
  padding: 2px 16px;
}

.form-height {
  height: 85vh;
}

.carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #337ab7;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid blue;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.map-section {
  margin: auto;
  max-width: 1400px;
}

/* foodfinder */

.map-padding {
  padding: 0px;
  margin: 0px;
}

.pizzalogo{
  max-height:290px;
}

.pizzalogolittle{
  max-height:70px;
}

.pizzalogoline {
  background:#ed4630; /*#b23324;*/
  height:90px;
  margin-top:120px;
  margin-bottom: 120px;
  border-top: 5px solid #b23324;
  border-bottom: 5px solid #b23324;;
}

.pizzacolor{
  background-color:#ed4630;
}

.pizzalogoline span {
  padding:0px;
  position:relative;
  top:-100px;
  left: 10px
}

.hide{
  display:none;
}

.pizzaMaker {

  position:absolute;
  top: 0px;
  left: 0px;
}

.pizzaMakerSauce {
  padding-left:10%;
  padding-top:10%;
}

.pizzaMakerCheese {
  padding-left:5%;
  padding-top:5%;
}

.align-left{
  text-align:left;
}

.projectpPlaceholder {
  height: 200px;
  width:200px;
  margin: auto;
  border: 2px solid #337ab7;
  border-radius: 50%;
  position: relative;
  background-size: cover;
  overflow:hidden;
  background-color:#999;
}

.projectpPlaceholder img {
  position: absolute;
  display: block;
  height: 180px;
  width:auto;
  /*margin-left: -90px;*/
  margin-top: 8px;

}

.projectpPlaceholder2 {
  height: 200px;
  width:200px;
  margin: auto;
  border: 2px solid #337ab7;
  border-radius: 50%;
  position: relative;
  background-size: cover;
  overflow:hidden;
  background-color:#999;
}
.projectpPlaceholder2 img {
  position: absolute;
  display: block;
  height: 200px;
  width:auto;
  /*margin-left: -90px;*/
  /*margin-top: 30px;*/

}

.projectpPlaceholder3 {
  height: 200px;
  width:200px;
  margin: auto;
  border: 2px solid #337ab7;
  border-radius: 50%;
  position: relative;
  background-size: cover;
  overflow:hidden;
  background-color:#5cd4d0;
}

.projectpPlaceholder3 img {
  position: absolute;
  display: block;
  height: 185px;
  width:auto;
  margin-left: -20px;
  margin-top: 8px;

}

.projectpPlaceholder4 {
  height: 200px;
  width:200px;
  margin: auto;
  border: 2px solid #337ab7;
  border-radius: 50%;
  position: relative;
  background-size: cover;
  overflow:hidden;
  background-color:#54b883;
}

.projectpPlaceholder4 img {
  position: absolute;
  display: block;
  height: 120px;
  width: auto;
  margin-left: 20%;
  margin-top: -10%;

}

.projectpPlaceholder5 {
  height: 200px;
  width:200px;
  margin: auto;
  border: 2px solid #337ab7;
  border-radius: 50%;
  position: relative;
  background-size: cover;
  overflow:hidden;
  background-color:#999;
}

.projectpPlaceholder5 img {
  position: absolute;
  display: block;
  height: 190px;
  width: auto;
  margin-left: -50px;
  /* margin-top: -10%; */
}

.projectpPlaceholder6 {
  height: 200px;
  width:200px;
  margin: auto;
  border: 2px solid #337ab7;
  border-radius: 50%;
  position: relative;
  background-size: cover;
  overflow:hidden;
  background-color:#fff;
}

.projectpPlaceholder6 img {
  position: absolute;
  display: block;
  height: 200px;
  width: auto;
  margin-left: -85px;
  /* margin-top: -10%; */
}


#totalChart{
  height:250px !important;
}
#monthAvgChart{
  height:250px !important;
}

.datacolor{
  color:#5cd4d0;
}

.datacolorBackground{
  background-color:#5cd4d0;
}


/* change navbar background */
nav.navbar {
  background: transparent;
}

.navbarpadding{
  padding-left:70px;
}

/* change navbar-brand color on hover */
.navbar a.navbar-brand:hover {
  color: black;
}
/*  change navbar li colors, also active one but not disabled one */
.navbar ul.navbar-nav li.nav-item a.nav-link {
  color: #666;
  font-weight: 600;
  font-size: 20px;
}
/* change hamburger button border color */
button.navbar-toggler.navbar-toggler-right {
  border-color: black;
}
/* change navbar background on collapse */
@media (max-width: 768px) {
  nav.navbar {
    background: white;
  }
}

/*landing page*/

.diagonal-box {
  position: relative;
	background-image: linear-gradient(45deg, #ff0099, #6303B1);
  transform: skewY(-18deg);
  z-index: 0;
}
.diagonal-content {
	max-width: 50em;
    margin: 0 auto;
    transform: skewY(18deg);
}

.spikes {
  position: relative;
  background-image: linear-gradient(360deg, #6303B1, #ff0099);
  /*height: 60%;*/

}

.spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 50px;
  background-size: 50px 100%;
  background-image: linear-gradient(135deg, #6303B1, 25%, transparent 25%), linear-gradient(225deg, #6303B1, 25%, transparent 25%);
  background-position: 0 0;

}

.overflow-hidden{
  overflow:hidden;
}

.counter-background {
  position: relative;
  background-image: linear-gradient(360deg, #ff0099, #6303B1);
  /*height: 60%;*/

}

.subscribe {
  position: relative;
  background-image: linear-gradient(360deg, #6303B1, #ff0099);
  /*height: 60%;*/

}

.subscribe::after {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 50px;
  background-image: linear-gradient(135deg, #6303B1, 25%, transparent 25%), linear-gradient(225deg, #6303B1, 25%, transparent 25%);
  background-position: 0 0;
}

.curved {
  position: relative;
  background: black;
  height: 50vh;
}

.btn-grad{
  position: relative;
  color: #fff;
  background-image: linear-gradient(360deg, #6303B1, #ff0099);
  border-color: #fff;
  z-index: 0;
}

.btn-grad:hover, .btn-grad:focus, .btn-grad:active, .btn-grad.active, .open>.dropdown-toggle.btn-grad {
  position: relative;
  color: #fff;
  background-color: #000;
  border-color: #fff; /*set the color you want here*/
  z-index: 0;
}

.btn-black{
  position: relative;
  color: #fff;
  background:#000;
  border-color: #fff;
  z-index: 0;
}

.btn-outline-black {
    color: #000;
    border-color: #000;
}

.curved::after {
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(180deg, #6303B1, #ff0099);
  height: 20%;
}

.pull-forward{
  position:relative;
  z-index: 2;
}

.counter {
    background-color:#000;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: linear-gradient(180deg, #6303B1, #ff0099);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.devicon-size{
  font-size: 5em;
}

.more {
  font-size: 1.5em;
  color:green;
}

.hidden{
  display: none;
}

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}
